// Text colors
.c-white { color: white; }
.c-black { color: var(--black); }
.c-green { color: var(--green); }
.c-green-dark { color: var(--green-dark); }
.c-green-light { color: var(--green-light); }
.c-gray { color: var(--gray); }

// Background colors
.bg-white { background-color: white; }
.bg-green { background-color: var(--green); }
.bg-green-light { background-color: var(--green-light); }
.bg-green-dark { background-color: var(--green-dark); }
.bg-gray-light { background-color: var(--gray-light); }
.bg-black { background-color: var(--black); }
.bg-gray-medium { background-color: var(--gray-medium); }
.bg-transparent { background-color: transparent; }

// Variables
:root {
  --black: #2c2c2c;
  --green: #58b858;
  --green-dark: #3f4440;
  --green-light: #d2e4d5;
  --gray-medium: #d8d8d8;
  --gray: #9fa3a7;
  --gray-light: #f7f7f7;
  --red: #f64d2b;
  --yellow: #ffc80a;
}
