// Font families
.ff-open {font-family: var(--font-family-open);}
.ff-arvo {font-family: var(--font-family-arvo);}
.ff-montserrat {font-family: var(--font-family-montserrat);}

// Font size
.fz-micro { font-size: var(--font-scale-micro); }
.fz-smallest { font-size: var(--font-scale-smallest); }
.fz-smaller { font-size: var(--font-scale-smaller); }
.fz-small { font-size: var(--font-scale-small); }
.fz-base { font-size: var(--font-scale-base); }
.fz-large { font-size: var(--font-scale-large); }
.fz-larger { font-size: var(--font-scale-larger); }
.fz-largest { font-size: var(--font-scale-largest); }
.fz-jumbo { font-size: var(--font-scale-jumbo); }

// Font variables
:root {
  --font-family-open: 'Open Sans', sans-serif;
  --font-family-arvo: 'Arvo', serif;
  --font-family-montserrat: 'Montserrat', sans-serif; 

  --font-scale-micro: 8px;
  --font-scale-smallest: 0.7rem;
  --font-scale-smaller: 0.75rem;
  --font-scale-small: 0.875rem;
  --font-scale-base: 1rem;
  --font-scale-large: 1.125rem;
  --font-scale-larger: 1.25rem;
  --font-scale-largest: 1.5rem;
  --font-scale-jumbo: 2rem;
}
