// Width
.w-130 { width: 130px; }
.w-190 { width: 190px; }

// Height
.h-130 { height: 130px; }
.h-190 { height: 190px; }
.h-hero { height: calc(100vh - 80px); }

@media (max-width: 767px) {
  .h-hero { height: calc(100vh - 61px); }
}
