 // Small screen / phone (max 768px)
@media(max-width: 48em) {
  // Padding
  .sm-pY-20 { padding-top: 40px; padding-bottom: 40px; }
  .sm-pY-40 { padding-top: 40px; padding-bottom: 40px; }
  .sm-pT-0 { padding-top: 0px; }
  .sm-pT-5 { padding-top: 5px; }
  .sm-pT-10 { padding-top: 10px; }
  .sm-pT-15 { padding-top: 15px; }
  .sm-pT-20 { padding-top: 20px; }
  .sm-pT-25 { padding-top: 25px; }
  .sm-pT-30 { padding-top: 30px; }
  .sm-pT-40 { padding-top: 40px; }
  .sm-pB-0 { padding-bottom: 0px; }
  .sm-pB-5 { padding-bottom: 5px; }
  .sm-pB-10 { padding-bottom: 10px; }
  .sm-pB-15 { padding-bottom: 15px; }
  .sm-pB-20 { padding-bottom: 20px; }
  .sm-pB-25 { padding-bottom: 25px; }
  .sm-pB-30 { padding-bottom: 30px; }
  .sm-pB-40 { padding-bottom: 40px; }

  // Margin
  .sm-mT-0 { margin-top: 0px; }
  .sm-mT-5 { margin-top: 5px; }
  .sm-mT-10 { margin-top: 10px; }
  .sm-mT-15 { margin-top: 15px; }
  .sm-mT-20 { margin-top: 20px; }
  .sm-mT-25 { margin-top: 25px; }
  .sm-mT-30 { margin-top: 30px; }
  .sm-mB-0 { margin-bottom: 0px; }
  .sm-mB-5 { margin-bottom: 5px; }
  .sm-mB-10 { margin-bottom: 10px; }
  .sm-mB-15 { margin-bottom: 15px; }
  .sm-mB-20 { margin-bottom: 20px; }
  .sm-mB-25 { margin-bottom: 25px; }
  .sm-mB-30 { margin-bottom: 30px; }
}

// Extra small screen / phone (max 544px)
@media(max-width: 34em) {
  // Padding
  .xs-pY-30 { padding-top: 30px; padding-bottom: 30px; }
  .xs-pT-0 { padding-top: 0px; }
  .xs-pT-5 { padding-top: 5px; }
  .xs-pT-10 { padding-top: 10px; }
  .xs-pT-15 { padding-top: 15px; }
  .xs-pT-20 { padding-top: 20px; }
  .xs-pT-25 { padding-top: 25px; }
  .xs-pT-30 { padding-top: 30px; }
  .xs-pB-0 { padding-bottom: 0px; }
  .xs-pB-5 { padding-bottom: 5px; }
  .xs-pB-10 { padding-bottom: 10px; }
  .xs-pB-15 { padding-bottom: 15px; }
  .xs-pB-20 { padding-bottom: 20px; }
  .xs-pB-25 { padding-bottom: 25px; }
  .xs-pB-30 { padding-bottom: 30px; }

  // Margin
  .xs-mT-0 { margin-top: 0px; }
  .xs-mT-5 { margin-top: 5px; }
  .xs-mT-10 { margin-top: 10px; }
  .xs-mT-15 { margin-top: 15px; }
  .xs-mT-20 { margin-top: 20px; }
  .xs-mT-25 { margin-top: 25px; }
  .xs-mT-20 { margin-top: 20px; }
  .xs-mB-30 { margin-bottom: 30px; }
  .xs-mB-5 { margin-bottom: 5px; }
  .xs-mB-10 { margin-bottom: 10px; }
  .xs-mB-15 { margin-bottom: 15px; }
  .xs-mB-20 { margin-bottom: 20px; }
  .xs-mB-25 { margin-bottom: 25px; }
  .xs-mB-30 { margin-bottom: 30px; }
}
