a {
  transition: all .3s !important;
  text-decoration: none !important;

  &.c-green-light {
    &:hover,
    &:focus {
      color: var(--green);
    }
  }

  &.c-black {
    &:hover,
    &:focus {
      color: var(--green);
    }
  }
}