// Override bootstrap style
// Navbar color
.navbar-default {
  background-color: transparent;
  border: none;
}

// Navbar links
.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-default .navbar-nav > li > a {
  color: var(--green);
  transition: all .3s;

  &:hover,
  &:focus {
    color: var(--green-dark);
  }
}

// Brand
a.brand {
  color: var(--green);
  text-decoration: none;
}

// Navbar toggle (mobile)
.navbar-toggle {
  padding: 12px 10px;
}

.navbar-default .navbar-toggle {
  border: 0;
  background-color: var(--green);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--black);
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: var(--black);
  transition: all .3s;

  .icon-bar {
    background-color: var(--green);
    transition: all .3s;
  }
}

.navbar-collapse {
  border-top: 0;
}

// Small screen / phone (max 768px)
@media(max-width: 48em) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
